@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Employees Home Page</h1>
    
    <a class="nav-link text-blue" asp-area="" asp-page="/Registration/Registration">Registration</a>
</div>
